<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <p><%= task.done %></p>
  <span>
  <%= link_to "View", tasks_path(task.id)  %>
  | <%= link_to "Edit", task_path(task.id)  %>
  | <%= link_to "Delete", task_path(task.id),  method: :delete, data: { confirm: "Are you sure?" }  %>
  </span>
  <hr>
<% end %>
